<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
	  xmlns:n="http://typo3.org/ns/GeorgRinger/News/ViewHelpers"
	  xmlns:t="http://typo3.org/ns/Helhum/TyposcriptRendering/ViewHelpers"
	  data-namespace-typo3-fluid="true">


<f:renderChildren arguments="{contentArguments}" />

<f:if condition="{configuration.insertBelow}">
	<f:render section="paginator" arguments="{pagination: pagination,configuration:configuration,recordId:recordId}" />
</f:if>

<f:section name="paginator">
	<n:extensionLoaded extensionKey="typoscript_rendering">
		<f:then>
			<f:if condition="{pagination.numberOfPages} > 1">
	

				<div class="page-navigation">

					<ul class="pagination">
				
					
					<f:if condition="{pagination.nextPage}">
							<li class="last next">
								<f:widget.link arguments="{currentPage: pagination.nextPage}" data="{container:recordId,link:'{t:uri.ajaxAction(contextRecord:\'tt_content:{recordId}\',pageUid:110, pluginName: \'pi1\',additionalParams:\'{n:widget.ajax.paginateAdditionalParams(page:pagination.nextPage)}\')}'}">
									<!--<f:translate key="paginate_next" />--> Load more
								</f:widget.link>
							</li>
						</f:if>
					</ul>
				</div>
				<!--<div class="news-clear"></div>-->
			</f:if>
		</f:then>
		<f:else>
			<div class="alert alert-danger">The extension <code>typoscript_rendering</code> must be installed!</div>
		</f:else>
	</n:extensionLoaded>
</f:section>
</html>