<!-- categories -->
<div id="filters" class="filters button-group news-list-category">
	<button class="news-cat news-cat-active" data-filter="*">All</button>
    <f:for each="{categories}" as="category">

		<button class="news-cat" data-filter=".c{category.uid}">{category.title}</button>

	</f:for>
</div>