<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
	  xmlns:n="http://typo3.org/ns/GeorgRinger/News/ViewHelpers"
	  data-namespace-typo3-fluid="true">

<div class="col-sm-3 article articletype-{newsItem.type}{f:if(condition: newsItem.istopnews, then: ' topnews')} {f:if(condition: i.isLast, then: 'c{x.uid}', else: 'c{x.uid} ') -> f:for(each:newsItem.categories, as: 'x', iteration: 'i')}" data-category="{f:if(condition: i.isLast, then: 'c{x.uid}', else: 'c{x.uid} ') -> f:for(each:newsItem.categories, as: 'x', iteration: 'i')}">
	
    <div class="news-list-item">
    
        <n:excludeDisplayedNews newsItem="{newsItem}"/>

         <f:if condition="{newsItem.mediaPreviews}">
            <!-- media preview element -->
            <f:then>
                <div class="col-sm-12 news-img-wrap">
                    <f:alias map="{mediaElement: '{newsItem.mediaPreviews.0}'}">
                        <f:if condition="{mediaElement.originalResource.type} == 2">
                            <f:image image="{mediaElement}" title="{mediaElement.originalResource.title}" alt="{mediaElement.originalResource.alternative}" maxWidth="{f:if(condition: settings.media.maxWidth, then: settings.media.maxWidth, else: settings.list.media.image.maxWidth)}" maxHeight="{f:if(condition: settings.media.maxHeight, then: settings.media.maxHeight, else: settings.list.media.image.maxHeight)}"/>
                        </f:if>
                        <f:if condition="{mediaElement.originalResource.type} == 4">
                            <f:render partial="Detail/MediaVideo" arguments="{mediaElement: mediaElement}"/>
                        </f:if>
                        <f:if condition="{mediaElement.originalResource.type} == 5">
                            <f:image image="{mediaElement}" title="{mediaElement.originalResource.title}" alt="{mediaElement.originalResource.alternative}" maxWidth="{f:if(condition: settings.media.maxWidth, then: settings.media.maxWidth, else: settings.list.media.image.maxWidth)}" maxHeight="{f:if(condition: settings.media.maxHeight, then: settings.media.maxHeight, else: settings.list.media.image.maxHeight)}"/>
                        </f:if>
                    </f:alias>
                </div>
            </f:then>
            <f:else>
            
            	
                <f:if condition="{newsItem.media.0}">
                	<f:then>
                        <f:alias map="{mediaElement: '{newsItem.media.0}'}">
                            <f:if condition="{mediaElement.originalResource.type} == 2">
                                <f:image image="{mediaElement}" title="{mediaElement.originalResource.title}" alt="{mediaElement.originalResource.alternative}" width="250c" height="155c"/>
                            </f:if>
                            <f:if condition="{mediaElement.originalResource.type} == 5">
                                <f:image image="{mediaElement}" title="{mediaElement.originalResource.title}" alt="{mediaElement.originalResource.alternative}" width="250c" height="155c"/>
                            </f:if>
                        </f:alias>
					</f:then>    
    				<f:else>
                		<f:if condition="{settings.displayDummyIfNoMedia}">
                         	<f:image src="{settings.list.media.dummyImage}" title="" alt="" width="250c" height="155c"/>
                        </f:if>
                	</f:else>
             	</f:if>       
                    
            </f:else>
        </f:if>
    
        <!-- header -->
        <div class="col-sm-12 header">
            <h3>
                <span itemprop="headline">{newsItem.title}</span>
            </h3>
        </div>
    
    
        <!-- teaser -->
        <div class="col-sm-12 teaser-text">
            <n:removeMediaTags>
            <f:if condition="{newsItem.teaser}">
                <f:then>
                    <div itemprop="description">{newsItem.teaser -> f:format.crop(maxCharacters: '{settings.cropMaxCharacters}', respectWordBoundaries:'1') -> f:format.html()}</div>
                </f:then>
                <f:else>
                    <div itemprop="description">{newsItem.bodytext -> f:format.crop(maxCharacters: '{settings.cropMaxCharacters}', respectWordBoundaries:'1') -> f:format.html()}</div>
                </f:else>
            </f:if>
            </n:removeMediaTags>
    
            <n:link newsItem="{newsItem}" settings="{settings}" class="more" title="{newsItem.title}">
                <f:translate key="more-link"/>
            </n:link>
        </div>
       
  	</div>      

</div>
</html>