
/* Prinzhorn */

	h1, .h1 {
		/*font-size: 1.5em;*/
		font-weight: bold;
	}
	
	h2, .h2 {
		font-size: 1.5em;
		font-weight: bold;
	}

	h3, .h3 {
		font-size: 1.4em;
		font-weight: bold;
	}

	h4, .h4 {
		font-size: 1.1em;
		font-weight: bold;
	}

	.bold {
		font-weight: bold;	
	}
	

	.container {
		/*padding: 0;*/	
	}


	/* Layouts Topbar */ 
	
		#top {
			height: 20px;
			width: 100%;
			background: url('../Img/top.jpg') top center no-repeat;	
		}
		
		body.layout-containerboard #top {
			background: url('../Img/top_containerboard.jpg') top center no-repeat;	
		}
		
		body.layout-dunapack #top {
			background: url('../Img/top_dunapack.jpg') top center no-repeat;	
		}
		
		body.layout-recycling #top {
			background: url('../Img/top_recycling.jpg') top center no-repeat;	
		}
	
	
	/* Layouts bottom */ 
	
		#bottom {
			height: 20px;
			width: 100%;
			background: url('../Img/top.jpg') top center no-repeat;	
			padding: 0;
		}
		
		body.layout-containerboard #bottom {
			background: url('../Img/top_containerboard.jpg') top center no-repeat;	
		}
		
		body.layout-dunapack #bottom {
			background: url('../Img/top_dunapack.jpg') top center no-repeat;	
		}
		
		body.layout-recycling #bottom {
			background: url('../Img/top_recycling.jpg') top center no-repeat;	
		}
	
	/* Menu start */

		.button-left {
			position: relative;
			width: 20%;
			display: inline-block;
		}
		
		.button-right {
			position: relative;
			width: 20%;
			display: inline-block;
		}
	
		.prinzhorn_logo {
			/*position: absolute;	*/
			position: relative;
			width: 60%;
			display: inline-block;
			text-align: center;
		}
	

	.container-nopad {
		padding: 0;	
	}



	.section {
		padding-top: 2em;
	}



/* Boxes */

	.grey>div {
		background: #eef1f3;
		padding: 20px;
	}

/* Footer*/ 

	.footer-section-meta,
	.footer-section-content {
		background: #FFF;
		color: #000000;
		padding: 0;
	}	

	.footer-section-meta .container,
	.footer-section-content .container {
		background: #e3e8ef;
	}	
	
	.footer-section-meta .container a,
	.footer-section-content .container a {
		color: #404041;	
	}
	
	.footer-section-contact {
		text-align: left;
		font-size: 0.9em;	
	}
	
	.footer-section-contact p{
		margin-bottom: 0px;
	}
	

/* Menu */

	.navbar-toggle {
		display: block;
	}
	
	.navbar-header {
		float: none;
	}
	
	.navbar-collapse {
		background-color: #e7eaef;	
		color: #000;

	}
	
	.navbar-collapse.collapse {
    	display: none!important;
	}
	
	.navbar-collapse.collapse.in {
    	display: block!important;
	}
	
	.navbar-collapse a {
		color: #000;
	}

	.container > .navbar-header, 
	.container-fluid > .navbar-header, 
	.container > .navbar-collapse, 
	.container-fluid > .navbar-collapse {
		margin-right: -20px;
		margin-left: -20px;
	}

	.navbar-default, 
	.navbar-default-transition, 
	.navbar-default-transition.navbar-transition {
		border: none;	
	}
	
	
	.navbar-toggle-search {
		position: relative;
		float: right;
		margin-right: 20px;
		padding: 9px 10px;
		margin-top: 18px;
		margin-bottom: 18px;
		background-color: transparent;
		background-image: none;
		border: 1px solid transparent;
		border-radius: 0px;
	}

	.navbar-toggle-menu {
		position: relative;
		float: left;
		margin-right: 20px;
		padding: 9px 10px;
		margin-top: 18px;
		margin-bottom: 18px;
		background-color: transparent;
		background-image: none;
		border: 1px solid transparent;
		border-radius: 0px;
	}
	
	.navbar-main {
		padding-bottom: 20px!important;	
		float: left; 
	}
	
	.navbar-main > li > .navbar-text, 
	.navbar-main > li > a {
		line-height: 50px;
		padding: 0px 20px;
	}
	
	.navbar-main-sub {
		list-style-type: none;
		margin-left: 0;	
		padding-left: 20px;
	}
	
	.navbar-main-sub > li > .navbar-text, 
	.navbar-main-sub > li > a { 
		line-height: 30px;
		padding: 0px 0px;
	}
	
	.navbar-address {
		width: 100%;
		float: left;
		text-align: center;
		display: block;
		margin: 40px 0 20px 0;
		font-size: 0.9em;	
	}
	
	.navbar-address-head {
		font-weight: bold;
	}
	
	

/* Breadcrumbs */

	.breadcrumb-section {
		background-color: transparent;
		border-bottom: none;
		margin-bottom: 24px;
		text-align: center;
	}
	
	.breadcrumb-section .breadcrumb {
	    display: inline-block;
		margin-left: 10px;
		background-color: transparent;
	}

/* Sections */

	 .container-head {
		padding-left: 0px;
		padding-right: 0px; 
	 }

	.section-sub > .container{
		padding-left: 70px;
		padding-right: 70px; 	
	}
	

/* Layouts */

	.frame-layout-1 {
		background: #eef1f3;
		text-align: center;
		padding: 20px 40px;
	}
	
	.frame-layout-2 {
		background: #007f8b;
		color: #FFF;
		padding: 20px 40px;
	}
	
/* News */	
	
	.news-list-view .article {
		/*margin: 20px;*/
		color: #000;
	}
	
	.news-list-view .news-list-item {
		background: #FFF;
		padding: 10px;
		display: inline-block;
	}
	
	.news-list-category {
		margin-bottom: 20px;
	}
	
	.news-list-category .news-cat {
		padding: 10px 15px; 
		color: #000;
		border: 1px solid #000;
		margin: 5px;
		font-size: 12px;
		font-weight: bold;
		display: inline-block;
		background: none;
	}
	
	.news-list-category .news-cat:hover,
	.news-list-category .news-cat:focus,
	.news-list-category .news-cat-active {
		color: #FFF;
		background: #000;
	}
	
	.page-navigation {
		/*display: none; 	*/
		display: inline-block;
	}
	
	.page-navigation .pagination {
		margin: 10px 0;	
	}
	

/* Carousel */

@media (min-width: 992px){
	.carousel .item {
		height: 400px;
	}
}

.container .carousel-inner .item {
    padding-left: 70px;
    padding-right: 70px;
}

.carousel .carousel-control {
    width: 60px;
}

.carousel .item {
    height: 400px;
}

.container-head .carousel .slider-bodytext a {
	color: #000;
    background-color: transparent;
    border-color: #000;
    display: inline-block;
    margin-bottom: 0;
    font-weight: bold;
    text-align: center;
    vertical-align: middle;
    touch-action: manipulation;
    cursor: pointer;
    background-image: none;
    border: 1px solid #000;
    white-space: nowrap;
    padding: 6px 12px;
    font-size: 16px;
    line-height: 1.55;
    border-radius: 0px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.container-head .carousel .slider-bodytext a:hover {
	background-color: #ccc;
}

.text-inner { padding: 10px 20px;}

.text-background {
	background-color: rgba(255,255,255,0.7);
		
}


/* flexslider */	


