<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">

        <div aria-labelledby="breadcrumb" role="navigation" class="breadcrumb-section hidden-xs hidden-sm">
            <div class="container">
            	<span class="breadcrumb-info">
                    	{f:translate(key: 'breadcrumb', extensionName: 'bootstrap_package')} 
                </span>
                <ol class="breadcrumb">
                    
                    <f:for each="{breadcrumb}" as="item">
                        <li class="{f:if(condition: item.current, then: 'active')}">
                            <f:if condition="{item.current}">
                                <f:then>
                                    <span>{item.title}</span>
                                </f:then>
                                <f:else>
                                    <a href="{item.link}" target="{item.target}" title="{item.title}">
                                        <span>{item.title}</span>
                                    </a>
                                </f:else>
                            </f:if>
                        </li>
                    </f:for>
                     <f:if condition="{settings.breadcrumb.extended}">
                        <li class="active">
                            {breadcrumbExtendedValue}
                        </li>
                    </f:if>
                </ol>
                
            </div>
        </div>
    

</html>
