<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<f:if condition="{languagenavigation}">


    <ul id="language_menu" class="language-menu">
        <f:for each="{languagenavigation}" as="item">
            <li class="{f:if(condition: item.active, then: 'active')} {f:if(condition: item.available, else: 'text-muted')}">
                <f:switch expression="{item.languageUid}">
                    <f:case value="2">
                        <f:variable name="languageTitle"><img src="typo3/sysext/core/Resources/Public/Icons/Flags/PNG/GB.png" alt="English" title="English" style="width: 20px; height: 15px;"/></f:variable>
                        <f:variable name="hreflang">en-GB</f:variable>
                    </f:case>
                    <f:defaultCase>
                        <f:variable name="languageTitle"><img src="typo3/sysext/core/Resources/Public/Icons/Flags/PNG/DE.png" alt="Deutsch" title="Detusch" style="width: 20px; height: 15px;"/></f:variable>
                        <f:variable name="hreflang">de-DE</f:variable>
                    </f:defaultCase>
                </f:switch>
                <f:if condition="{item.available}">
                    <f:then>
                        <a href="{item.link}" hreflang="{hreflang}" title="{languageTitle}">
                            <f:format.html>{languageTitle}</f:format.html>
                        </a>
                    </f:then>
                    <f:else>
                        <f:format.html>{languageTitle}</f:format.html>
                    </f:else>
                </f:if>
            </li>
        </f:for>
    </ul>
</f:if>
