<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<header class="navbar navbar-{settings.navigation.style}{f:if(condition:settings.logo.file,then:' navbar-has-image')}{f:if(condition:settings.navigation.type, else:' navbar-top', then:' navbar-{settings.navigation.type} navbar-fixed-{settings.navigation.type}')}">
    <div class="container">
        <div class="navbar-header navbar-header-main">
       		
            <f:if condition="{mainnavigation}">
                <div class="button-left">
                    <button class="navbar-toggle navbar-toggle-menu collapsed" type="button" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                </div>
            </f:if>
            
           	<div class="prinzhorn_logo">
            	<f:if condition="{settings.logo.file}">
                    <f:then>
                        <f:link.page pageUid="{rootPage}" class="navbar-brandx navbar-brand-imagex" title="{settings.logo.linktitle}">
                            <img class="navbar-brand-logo-normalx" src="{f:uri.image(src: settings.logo.file)}" alt="{logoAlt}">
                        </f:link.page>
                    </f:then>
                    <f:else>
                        <f:link.page pageUid="{rootPage}" class="navbar-brand" title="{settings.logo.linktitle}">{siteTitle}</f:link.page>
                    </f:else>
                </f:if>
      		</div>        
                
            <f:if condition="{mainnavigation}">
              	<div class="button-right">
                    <button class="navbar-toggle navbar-toggle-search collapsed" type="button" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
            	</div>
            </f:if>
            <!--<span class="navbar-header-border-bottom"></span>-->
      
        
        </div>
        
       </div>   
       
              

</header> 
         
       	<!--<div class="language-menu">
        
    
            <f:render partial="Navigation/Language" arguments="{_all}" />
        </div>-->
    
    
        <f:if condition="{mainnavigation}">
        
        <div class="section1 section-default">
        	<div class="container">
        
                <nav class="navbar-collapse collapse" role="navigation">
                    <ul class="nav navbar-nav navbar-main">
                        <f:for each="{mainnavigation}" as="mainnavigationItem">
                            <li class="{f:if(condition: mainnavigationItem.active, then:'active')}">
                                <f:if condition="{mainnavigationItem.spacer}">
                                    <f:then>
                                        <p class="navbar-text">{mainnavigationItem.title}</p>
                                    </f:then>
                                    <f:else>
                                        <f:if condition="{mainnavigationItem.children}">
                                            <f:then>
                                                <a href="{mainnavigationItem.link}" target="{mainnavigationItem.target}" title="{mainnavigationItem.title}">
                                                    <span>{mainnavigationItem.title}</span>
                                                    <span class="bar"></span>
                                                </a>
                                                <ul class="navbar-main-sub">
                                                    <f:for each="{mainnavigationItem.children}" as="child">
                                                        <f:if condition="{child.spacer}">
                                                            <f:then>
                                                                <li class="dropdown-header">{child.title}</li>
                                                            </f:then>
                                                            <f:else>
                                                                <li class="{f:if(condition: child.active, then:'active')}">
                                                                    <a href="{child.link}" target="{child.target}" title="{child.title}">
                                                                        <span>{child.title}</span>
                                                                    </a>
                                                                </li>
                                                            </f:else>
                                                        </f:if>
                                                    </f:for>
                                                </ul>
                                            </f:then>
                                            <f:else>
                                                <a href="{mainnavigationItem.link}" target="{mainnavigationItem.target}" title="{mainnavigationItem.title}">
                                                    <span>{mainnavigationItem.title}</span>
                                                    <span class="bar"></span>
                                                </a>
                                            </f:else>
                                        </f:if>
                                    </f:else>
                                </f:if>
                            </li>
                        </f:for>
                    </ul>
                    
                   <div class="navbar-address">
                   
                   <div class="navbar-address-head">Headquarters PRINZHORN HOLDING GmbH</div>
Lemböckgasse 21-25, 1230 Wien, Austria, Tel.: +43 (0) 50118 10140 Mail: welcome-at-prinzhorn.com<BR/>
Imprint International sites Sitemap
                   
                   </div>
           
                </nav>
                
                
           </div>
           
          </div>      
                
        </f:if>


</html>
