<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<div class="valign">
    <div class="carousel-text vcontainer" {f:if(condition: item.data.text_color,then: 'style="color: {item.data.text_color};"')}>
        <div class="text-inner {f:if(condition: item.data.bodytext_color,then: 'text-background')}">
        	<h{item.data.header_layout}><f:format.htmlentitiesDecode>{item.data.header}</f:format.htmlentitiesDecode></h{item.data.header_layout}>
            <f:if condition="{item.data.subheader}">
                <h{item.data.subheader_layout}><f:format.htmlentitiesDecode>{item.data.subheader}</f:format.htmlentitiesDecode></h{item.data.subheader_layout}>
            </f:if>
            <div class="slider-bodytext"><f:format.html>{item.data.bodytext}</f:format.html></div>
         </div>   
    </div>
    <div class="carousel-image vcontainer">
        <f:if condition="{item.images.0}">
            <f:image
                image="{item.images.0}"
                title="{item.images.0.title}"
                alt="{item.images.0.alternative}"
                width="600"
                height="600m" />
        </f:if>
    </div>
</div>
</html>
